#title,
#author {
  width: 20%;
  height: 30px;
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  border: solid 2px black;
  background-color: transparent;
}

#pages {
  width: 20%;
  height: 30px;
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  border: solid 2px black;
  background-color: transparent;
}

#read {
  color: black;
  width: 20%;
  height: 40px;
  margin: 15px;
  background-color: grey;
}
body {
  background-image: url("https://i.postimg.cc/XN5yB5pm/book-436512-1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#lib1 {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto 150px 150px;
}

.th1 {
  display: inline-grid;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
}

#lib2 {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto 150px 150px;
}
.book {
  display: inline-grid;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.52);
}
.book:hover {
  background-color: white;
  color: black;
}
h1 {
  text-align: center;
}

.bookbutton1 {
  background-color: rgba(0, 0, 255, 0.411);
  color: white;
  height: 30px;
}
.bookbutton2 {
  background-color: rgba(255, 0, 0, 0.397);
  color: white;
  height: 30px;
}
.bookbutton1:hover,
.bookbutton2:hover {
  background-color: white;
  color: black;
}
.book1:hover {
  background-color: grey;
}
